@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@import "../assets/icons/icons-styles.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 3rem;
  --mantine-font-size-2xl: 2rem;
  --mantine-font-size-3xl: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-size: var(--mantine-font-size-2xl);
  font-size: var(--mantine-font-size-3xl);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
